Repository manishn1202/padrugsv6-mzcbuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @frontend-team, @devops-team, @qa-team

Add public-samples/padrugsv6-mzcbuf/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/padrugsv6-mzcbuf/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @devops-team

Add public-samples/padrugsv6-mzcbuf/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team

Add public-samples/padrugsv6-mzcbuf/.github/workflows/web-deploy.yml
  .github/workflows/web-deploy.yml
Owners: @devops-team

Add public-samples/padrugsv6-mzcbuf/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/padrugsv6-mzcbuf/infrastructure/cloudformation/ecs.yml
  infrastructure/cloudformation/ecs.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/cloudformation/monitoring.yml
  infrastructure/cloudformation/monitoring.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/cloudformation/rds.yml
  infrastructure/cloudformation/rds.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/cloudformation/security.yml
  infrastructure/cloudformation/security.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/cloudformation/vpc.yml
  infrastructure/cloudformation/vpc.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/docker/backend.dockerfile
  infrastructure/docker/backend.dockerfile
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/docker/nginx.conf
  infrastructure/docker/nginx.conf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/docker/web.dockerfile
  infrastructure/docker/web.dockerfile
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/scripts/security.sh
  infrastructure/scripts/security.sh
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/compute/main.tf
  infrastructure/terraform/modules/compute/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/compute/outputs.tf
  infrastructure/terraform/modules/compute/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/compute/variables.tf
  infrastructure/terraform/modules/compute/variables.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern @owner1 @owner2

# Global ownership - Project leads are the default owners for unspecified paths
* @project-leads

# Backend Services and API Components
# Requires both backend and security team review for HIPAA compliance
src/backend/** @backend-team @security-team

# AI/ML Components including Claude Integration
# Requires AI expertise and security review
src/backend/src/ai/** @ai-team @security-team

# Frontend Application and UI Components
# Requires frontend and security team review for HIPAA compliance
src/web/** @frontend-team @security-team

# Infrastructure and Deployment Configuration
# Requires DevOps and security team review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Owned by DevOps team
.github/workflows/** @devops-team

# Core Security Implementation
# Strictly owned by security team for HIPAA compliance
src/backend/src/core/security.py @security-team

# Security Configuration
# Strictly owned by security team for HIPAA compliance
src/backend/src/config/security.py @security-team

# Test Suites
# Requires both QA and backend team review
src/backend/tests/** @qa-team @backend-team

# Documentation and API Specifications
docs/** @backend-team @frontend-team

# Database Migrations and Schemas
# Requires both backend and security review for HIPAA compliance
src/backend/src/db/** @backend-team @security-team

# Healthcare Integration Components
# Requires backend and security review for HIPAA compliance
src/backend/src/integrations/** @backend-team @security-team

# Audit Logging Components
# Requires security team review for HIPAA compliance
src/backend/src/audit/** @security-team

# Configuration Files
# Requires security review for sensitive configurations
config/** @security-team @devops-team

# Package Dependencies
# Requires security review for vulnerability management
package.json @security-team @frontend-team
requirements.txt @security-team @backend-team

# Docker Configuration
# Requires both DevOps and security review
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team @security-team

# Environment Configuration
# Requires security review for sensitive variables
.env* @security-team @devops-team
