Repository manishn1202/padrugsv6-mzcbuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @frontend-team, @devops-team, @qa-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

Add public-samples/padrugsv6-mzcbuf/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @security-team, @backend-team

Add public-samples/padrugsv6-mzcbuf/src/backend/setup.py
  src/backend/setup.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/__init__.py
  src/backend/src/__init__.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/main.py
  src/backend/src/main.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/ai/__init__.py
  src/backend/src/ai/__init__.py
Owners: @ai-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/ai/claude_client.py
  src/backend/src/ai/claude_client.py
Owners: @ai-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/ai/criteria_matcher.py
  src/backend/src/ai/criteria_matcher.py
Owners: @ai-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/ai/evidence_analyzer.py
  src/backend/src/ai/evidence_analyzer.py
Owners: @ai-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/ai/models.py
  src/backend/src/ai/models.py
Owners: @ai-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/__init__.py
  src/backend/src/api/__init__.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/dependencies.py
  src/backend/src/api/dependencies.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/error_handlers.py
  src/backend/src/api/error_handlers.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/middleware.py
  src/backend/src/api/middleware.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/__init__.py
  src/backend/src/api/routes/__init__.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/auth.py
  src/backend/src/api/routes/auth.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/clinical.py
  src/backend/src/api/routes/clinical.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/documents.py
  src/backend/src/api/routes/documents.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/fhir.py
  src/backend/src/api/routes/fhir.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/formulary.py
  src/backend/src/api/routes/formulary.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/health.py
  src/backend/src/api/routes/health.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/notifications.py
  src/backend/src/api/routes/notifications.py
Owners: @backend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/backend/src/api/routes/policies.py
  src/backend/src/api/routes/policies.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern @owner1 @owner2

# Global ownership - Project leads are the default owners for unspecified paths
* @project-leads

# Backend Services and API Components
# Requires both backend and security team review for HIPAA compliance
src/backend/** @backend-team @security-team

# AI/ML Components including Claude Integration
# Requires AI expertise and security review
src/backend/src/ai/** @ai-team @security-team

# Frontend Application and UI Components
# Requires frontend and security team review for HIPAA compliance
src/web/** @frontend-team @security-team

# Infrastructure and Deployment Configuration
# Requires DevOps and security team review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Owned by DevOps team
.github/workflows/** @devops-team

# Core Security Implementation
# Strictly owned by security team for HIPAA compliance
src/backend/src/core/security.py @security-team

# Security Configuration
# Strictly owned by security team for HIPAA compliance
src/backend/src/config/security.py @security-team

# Test Suites
# Requires both QA and backend team review
src/backend/tests/** @qa-team @backend-team

# Documentation and API Specifications
docs/** @backend-team @frontend-team

# Database Migrations and Schemas
# Requires both backend and security review for HIPAA compliance
src/backend/src/db/** @backend-team @security-team

# Healthcare Integration Components
# Requires backend and security review for HIPAA compliance
src/backend/src/integrations/** @backend-team @security-team

# Audit Logging Components
# Requires security team review for HIPAA compliance
src/backend/src/audit/** @security-team

# Configuration Files
# Requires security review for sensitive configurations
config/** @security-team @devops-team

# Package Dependencies
# Requires security review for vulnerability management
package.json @security-team @frontend-team
requirements.txt @security-team @backend-team

# Docker Configuration
# Requires both DevOps and security review
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team @security-team

# Environment Configuration
# Requires security review for sensitive variables
.env* @security-team @devops-team
