Repository manishn1202/padrugsv6-mzcbuf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ai-team, @frontend-team, @devops-team, @qa-team

Add public-samples/padrugsv6-mzcbuf/src/backend/tests/unit/test_api.py
  src/backend/tests/unit/test_api.py
Owners: @qa-team, @backend-team

Add public-samples/padrugsv6-mzcbuf/src/backend/tests/unit/test_models.py
  src/backend/tests/unit/test_models.py
Owners: @qa-team, @backend-team

Add public-samples/padrugsv6-mzcbuf/src/backend/tests/unit/test_repositories.py
  src/backend/tests/unit/test_repositories.py
Owners: @qa-team, @backend-team

Add public-samples/padrugsv6-mzcbuf/src/backend/tests/unit/test_services.py
  src/backend/tests/unit/test_services.py
Owners: @qa-team, @backend-team

Add public-samples/padrugsv6-mzcbuf/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/.env.example
  src/web/.env.example
Owners: @security-team, @devops-team

Add public-samples/padrugsv6-mzcbuf/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @devops-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/jest.setup.ts
  src/web/jest.setup.ts
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/package.json
  src/web/package.json
Owners: @security-team, @frontend-team

Add public-samples/padrugsv6-mzcbuf/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/fonts/inter/Inter-Bold.woff2
  src/web/src/assets/fonts/inter/Inter-Bold.woff2
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/fonts/inter/Inter-Medium.woff2
  src/web/src/assets/fonts/inter/Inter-Medium.woff2
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/fonts/inter/Inter-Regular.woff2
  src/web/src/assets/fonts/inter/Inter-Regular.woff2
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/icons/dashboard.svg
  src/web/src/assets/icons/dashboard.svg
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/icons/document.svg
  src/web/src/assets/icons/document.svg
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/icons/notification.svg
  src/web/src/assets/icons/notification.svg
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/icons/patient.svg
  src/web/src/assets/icons/patient.svg
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/icons/settings.svg
  src/web/src/assets/icons/settings.svg
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/auth/MFAForm.tsx
  src/web/src/components/auth/MFAForm.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/auth/PasswordReset.tsx
  src/web/src/components/auth/PasswordReset.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/common/Alert.tsx
  src/web/src/components/common/Alert.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/common/Breadcrumb.tsx
  src/web/src/components/common/Breadcrumb.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team, @security-team

Add public-samples/padrugsv6-mzcbuf/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team, @security-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# Format: pattern @owner1 @owner2

# Global ownership - Project leads are the default owners for unspecified paths
* @project-leads

# Backend Services and API Components
# Requires both backend and security team review for HIPAA compliance
src/backend/** @backend-team @security-team

# AI/ML Components including Claude Integration
# Requires AI expertise and security review
src/backend/src/ai/** @ai-team @security-team

# Frontend Application and UI Components
# Requires frontend and security team review for HIPAA compliance
src/web/** @frontend-team @security-team

# Infrastructure and Deployment Configuration
# Requires DevOps and security team review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Owned by DevOps team
.github/workflows/** @devops-team

# Core Security Implementation
# Strictly owned by security team for HIPAA compliance
src/backend/src/core/security.py @security-team

# Security Configuration
# Strictly owned by security team for HIPAA compliance
src/backend/src/config/security.py @security-team

# Test Suites
# Requires both QA and backend team review
src/backend/tests/** @qa-team @backend-team

# Documentation and API Specifications
docs/** @backend-team @frontend-team

# Database Migrations and Schemas
# Requires both backend and security review for HIPAA compliance
src/backend/src/db/** @backend-team @security-team

# Healthcare Integration Components
# Requires backend and security review for HIPAA compliance
src/backend/src/integrations/** @backend-team @security-team

# Audit Logging Components
# Requires security team review for HIPAA compliance
src/backend/src/audit/** @security-team

# Configuration Files
# Requires security review for sensitive configurations
config/** @security-team @devops-team

# Package Dependencies
# Requires security review for vulnerability management
package.json @security-team @frontend-team
requirements.txt @security-team @backend-team

# Docker Configuration
# Requires both DevOps and security review
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team @security-team

# Environment Configuration
# Requires security review for sensitive variables
.env* @security-team @devops-team
